<form class="login-form">
  <h1>Login</h1>
  <div>
    <label for="username-login">Username</label>
    <input type="text" id="username-login" />
  </div>
  {{!-- <div>
    <label for="email-login">Email</label>
    <input type="text" id="email-login" />
  </div> --}}
  <div>
    <label for="password-login">Password</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login!</button>
  </div>
  <h1><a href="/signup">Sign up instead</a></h1>
</form>

<script src="/javascript/login.js"></script>